/* Created by Lior Shahar */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

nav {
  background-color: #333;
  height: 50px;
}

nav h1 {
  margin: 0;
  color: white;
  line-height: 50px;
  margin-left: 230px;
}

/* right page side -> canvas context */

#mainContext {
  background-color: gray;
  width: 88%;
  height: 100%;
  float: right;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}

/* canvas CSS */

/* left menu bar */

/* container element */
#leftMenuBar {
  width: 12%;
  float: left;
  background-color: #333;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* TOOLS */
#leftMenuBar section {
  color: white;
  text-align: center;
  height: 30px;
  margin-top: 5px;
  line-height: 30px;
  font-size: 15px;
}

#leftMenuBar section p {
  margin: 0;
}

/* container flex box */
.toolsContainer {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.toolsItem {
  background-color: rgb(114, 111, 111);
  width: 35%;
  height: 80px;
  padding: 10px;
  margin-top: 1px;
  margin-left: 10px;
  margin-bottom: 1px;
  cursor: pointer;
}

/* Angle Input field */
input[id="rotatAngleInput"]::-webkit-inner-spin-button,
input[id="rotatAngleInput"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[id="rotatAngleInput"] {
  -moz-appearance: textfield;
}
.quantity input {
  width: 70%;
  height: 70px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  padding-top: 5px;
  margin: 0;
  padding-left: 20px;
  font-size: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 40px;
  text-align: center;
  color: #333;
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -22px;
  height: 50%;
}

/* ---------------------------------- */

.toolsItem:hover {
  background-color: darkgrey;
}

.toolsItem:nth-child(1) {
  background-image: url("../images/horizontalMirror.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.toolsItem:nth-child(2) {
  background-image: url("../images/veticalMirror.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.toolsItem:nth-child(3) {
  background-image: url("../images/zoomIn.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.toolsItem:nth-child(4) {
  background-image: url("../images/zoomOut.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.toolsItem:nth-child(5) {
  background-image: url("../images/rootate.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.toolsItem:nth-child(7) {
  background-image: url("../images/shearingIcon.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.toolsItem:nth-child(8) {
  background-image: url("../images/moveIcon.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.toolsItemLong {
  background-color: rgb(114, 111, 111);
  width: 81.5%;
  height: 80px;
  padding: 10px;
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 1px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  color: white;
  height: 30px;
  line-height: 30px;
  width: 178px;
  padding-right: 13px;
  padding-bottom: 3px;
  background-color: black;
  border-radius: 4px;
  display: block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: darkgrey;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

#loadFileLable div:nth-child(1) {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  background-image: url("../images/loadFileIcon.png");
  background-position: left;
  background-repeat: no-repeat; /* Do not repeat the image */
}

#loadFileLable span:nth-child(2) {
  display: inline-block;
  margin-left: 10px;
  vertical-align: super;
  font-size: 1.1em;
  font-weight: 400;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

/* draw button */
#draw {
  border: none;
  color: white;
  height: 32px;
  line-height: 24px;
  width: 191px;
  background-color: black;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: 400;
  border-radius: 4px;
}

footer {
  background-color: #333;
  position: fixed;
  left: 0;
  bottom: 0;
  clear: both;
  width: 100%;
  height: 120px;
}
